<div class="panel panel-info" style="margin-top: 50px;">
  <!-- Default panel contents -->
  <div class="panel-heading">
      <h2><a class="btn btn-default" href="javascript:history.go(-1)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a> {{title}}</h2>
	</div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="comment in comments">{{comment.body}}<p><span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment, $index)"></span> Upvotes: {{comment.upvotes}} </p></li>
    <li class="list-group-item">

		<form ng-submit="addComment()" style="margin-top: 15px">
		<div class="form-group">
		<input type="text" class="form-control" placeholder="add a comment, press enter" ng-model="comment"></input>
		</div>
		</form>

    </li>
  </ul>
</div>